<div class="content-width">
  <h3 class="font-lg left-align"><span class="linear">Q. プロフィール画像の設定方法は？</span></h3>
  <p class="left-align">GravatarというHPでユーザー登録（無料）し、アバターを設定してください。
  <br>Gravatarで登録したメールアドレスと、Water Bird Clubで登録したメールアドレスが同じであれば、Gravatarで登録したアイコンが、こちらのWebサイトでも反映されます。
  <br><a href="https://ja.gravatar.com/)" class="under no-text-decoration font-lr">Gravatar</a>
  </p>
</div>
