// 960px以上のモニタ

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 20px;
}

.font-lr {
  font-size: 20px;
}

.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}

.bird-img {
  max-width: 70% !important;
}

table, #explanation, #area {
  width: 70%;
}


