body {
  font-family: 'Kanit', 'Noto Sans JP', sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  min-height: 80vh;
}

img {
  max-width: 70%;
  vertical-align: bottom;
}

h1, h2, h3, p {
  margin-top: 40px;
  color: #555;
  text-align: center;
  font-weight: 500;
}

h4 {
  color: #555;
  text-align: left;
  padding: 5px;
}

.font-sm {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.font-md {
  font-size: 18px;
}

.font-lr {
  font-size: 18px;
}

.font-lg {
  font-size: 25px;
}

.mt-sm {
  margin-top: 16px !important;
}

.mt-lg {
  margin-top: 80px !important;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 40px !important;
}

.mb-lr {
  margin-bottom: 50px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.mrl-sm {
  margin-right: 15px;
  margin-left: 15px;
  letter-spacing: 0.1em;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.pl-sm {
  padding-left: 10px !important;
}

.pr-sm {
  padding-right: 10px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
  position: relative;
}

#container {
  position: relative;
  z-index: 2;
}

#content {
  margin-top: 70px; 
}

.hero {
  margin-top: 20px
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
}

.messages {
  margin-top: 50px;
}

.left-align {
  text-align: left !important;
}

.center-align {
  text-align: center !important;
}

.right-align {
  text-align: right !important;
}

.cursor {
  cursor: pointer;
}

ul {
  line-height: 1.5em;
  color: #555;
}

#pick-up {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

#spring, #summer, #autumn, #winter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
}

.bird-img {
  margin: auto;
  display: block;
  @extend .mb-md;
}

table {
  margin: 20px auto;
  border: 4px double #ddd;
  width: 100%
}

.type-item {
  background-color: rgb(231, 187, 65);
  border-radius: 30px;
  padding: 5px 20px;
}

th {
  @extend .font-md;
  text-align: center;
  color: white;
  padding: 10px 0;
  display: block;
}

td {
  @extend .font-md;
  color: #555;
  padding: 10px 40px;
  display: block;
  text-align: center;
}
