<div class="modal fade" id="modal14" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">ホオジロガモ
        <span class="italic font-sm">Bucephala clangula</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：カモ目カモ科</li>
            <li>全長：45 cm</li>
            <li>食べ物：草、虫、魚、甲殻類、環形動物</li>
          </ul>
          <p class="left-align mrl-sm">オスは頭から顔にかけて光沢のある緑色をしている。目の下には丸い大きな白まだらがある。メスは頬が白くない。頭は三角のおにぎり型をしている。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
