<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">カルガモ
        <span class="italic font-sm">Anas zonorhyncha</span></h3>
      </div>
      <div class="modal-body">
        <label>
        <ul>
          <li>分類：カモ目カモ科</li>
          <li>全長：61 cm</li>
          <li>食べ物：穀物、種、草、虫</li>
        </ul>
        <p class="left-align mrl-sm">くちばしの先だけ黄色いカモは、カモの中でもカルガモだけ。脚は橙赤色。母親の後にヒナたちが整列して歩いているのは、急いでいる時か警戒している時。本来は、ヒナたちの後を母親がついていくスタイル。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
