<div class="modal fade" id="modal13" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">クイナ
        <span class="italic font-sm">Rallus aquaticus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：ツル目クイナ科</li>
            <li>全長：29 cm</li>
            <li>食べ物：穀物、虫、魚、甲殻類、環形動物</li>
          </ul>
          <p class="left-align mrl-sm">ヨシ原に潜んでいる。背中は茶色で、黒いまだら模様がある。くちばしの上部は黒色で、下部は赤く少し下に曲がっている。警戒心が強く、逃げ足が速い。飛ぶことは稀で、歩いて移動する。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
