<div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">クロサギ
        <span class="italic font-sm">Egretta sacra</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：ペリカン目サギ科</li>
            <li>全長：62 cm</li>
            <li>食べ物：魚、甲殻類</li>
          </ul>
          <p class="left-align mrl-sm">名前の通李、全身が青灰黒色をしている。本州では黒色ばかりだが、南西諸島では白い個体が多くなる。主に海辺の岩場や珊瑚礁に生息する。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
