<div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">マガン
        <span class="italic font-sm">Anser albifrons</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：カモ目カモ科</li>
            <li>全長：72 cm</li>
            <li>食べ物：甲殻類、草</li>
          </ul>
          <p class="left-align mrl-sm">10月初旬のマガンの初飛来は「初雁」と呼ばれる。くちばしはピンク色で足はオレンジ色をしている。基本的には、家族単位で行動をする。国の天然記念物に指定されている。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
