<div class="modal fade" id="modal16" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">マガモ
        <span class="italic font-sm">Anas platyrhynchos</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：カモ目カモ科</li>
            <li>全長：59 cm</li>
            <li>食べ物：穀物、種、草</li>
          </ul>
          <p class="left-align mrl-sm">オスは頭が緑色に輝いており、風切羽は紫をしている。本種を飼育改良したものがアヒル。ずっと昔から人間に狙われてきたことから、逃げ足が速くなった。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
