<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">メダイチドリ
        <span class="italic font-sm">Charadrius mongolus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：チドリ目チドリ科</li>
            <li>全長：20 cm</li>
            <li>食べ物：虫、甲殻類、貝類、環形動物</li>
          </ul>
          <p class="left-align mrl-sm">春になると頭と胸が橙色に色づく。ユーラシア大陸の中東部で繁殖する。越冬時や渡りの時期には干潟に生息する。主にゴカイを食べる。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
