<div class="modal fade" id="modal15" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
         <h3 class="modal-title font-md bold" id="modalLabelId">ミコアイサ
        <span class="italic font-sm">Mergus albellus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：カモ目カモ科</li>
            <li>全長：42 cm</li>
            <li>食べ物：魚、甲殻類、貝類</li>
          </ul>
          <p class="left-align mrl-sm">通称「パンダガモ」。オスは全身が白く、背中が黒い。目の周りが丸く黒いのが特徴。メスは目の周りから頭にかけて茶色で頬が白い。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
