<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">ササゴイ
        <span class="italic font-sm">Butorides striatus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：ペリカン目サギ科</li>
            <li>全長：52 cm</li>
            <li>食べ物：虫、魚、甲殻類</li>
          </ul>
          <p class="left-align mrl-sm">目が黄色く、翼の羽の縁が白い。実は釣り人。水面にパンくずなどを投げ入れ、それに集まる魚を捕食する。アジア、アフリカ、南北アメリカ大陸の熱帯から温帯に分布している。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
