<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">セイタカシギ<span class="italic font-sm">Himantopus himantopus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：チドリ目セイタカシギ科</li>
            <li>全長：37 cm</li>
            <li>食べ物：虫、魚、甲殻類、環形動物</li>
          </ul>
          <p class="left-align mrl-sm">名前の通り、背が高い。脚は蛍光ピンク。大きく見開いた目は真っ赤。全長は37 cm だが、全長はくちばしの先から尾羽の先までの長さをいう。黒い背中に緑色の光沢があるものがオス。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
