<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">シロチドリ
        <span class="italic font-sm">Charadrius alexandrinus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：チドリ目チドリ科</li>
            <li>全長：17 cm</li>
            <li>食べ物：虫、魚、甲殻類</li>
          </ul>
          <p class="left-align mrl-sm">草が生えていない砂地を好む。砂地に浅い窪地を作り、小石や貝殻などを敷いた巣を作る。主にユーラシア、アフリカの温帯や熱帯に生息する。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
