<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title font-md bold" id="modalLabelId">ウミウ
        <span class="italic font-sm">Phalacrocorax capillatus</span></h3>
      </div>
      <div class="modal-body">
        <label>
          <ul>
            <li>分類：カツオドリ目ウ科</li>
            <li>全長：84 cm</li>
            <li>食べ物：魚</li>
          </ul>
          <p class="left-align mrl-sm">木の上で繁殖する。水かきがあるため、海に潜ることができる。魚を捕まえて丸呑みする。日本の鵜飼では、カワウではなくウミウが使われている。</p>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
