<div class="content-width">
  <h2>コハクチョウ</h2>
  <h4 class="italic center-align">Cygnus columbianus</h4>
  <%= image_tag 'img12.JPG', class: "bird-img"%>
  <section id="type">
   <table>
    <tr>
      <th><span class="type-item">分類</span></th>
      <td>カモ目カモ科</td>
    </tr>
    <tr>
      <th><span class="type-item">全長</span></th>
      <td>120 cm</td>
    </tr>
     <tr>
      <th><span class="type-item">食べ物</span></th>
      <td>穀物、草</td>
    </tr>
   </table>
  </section>
  <section id="explanation">
    <p class="left-align mb-md">冬になるとツンドラ地帯から渡ってくる。家族との時間を大切にする。
    <br>オオハクチョウに似ているが、オオハクチョウよりも首が太く、くちばし基部の黄色が小さい。</p>
  </section>
  <section id="area">
    <h4 class="font-md">
      <span class="surrounding">分布域</span>
    </h4>
    <%= image_tag 'kohakucho_area' %>
  </section>
</div>
