<div class="content-width">
  <h2>コサギ</h2>
  <h4 class="italic center-align">Egretta garzetta</h4>
  <%= image_tag 'img03.JPG', class: "bird-img" %>
  <section id="type">
   <table>
    <tr>
      <th><span class="type-item">分類</span></th>
      <td>ペリカン目サギ科</td>
    </tr>
    <tr>
      <th><span class="type-item">全長</span></th>
      <td>61 cm</td>
    </tr>
     <tr>
      <th><span class="type-item">食べ物</span></th>
      <td>虫、魚、甲殻類、環形動物</td>
    </tr>
   </table>
  </section>
  <section id="explanation">
    <p class="left-align mb-md">賢者。さまざまな方法で獲物を採る。黒いくちばしと黄色の足が特徴。
    <br>春になると後頭部に２本のおしゃれな飾り羽がなびく。繁殖期になると目先が黄色からピンク色に変わる（婚姻色）。</p>
  </section>
  <section id="area">
    <h4 class="font-md">
      <span class="surrounding">分布域</span>
    </h4>
    <%= image_tag 'kosagi_area' %>
  </section>
</div>
