<div class="content-width">
  <h2 class="font-lg">オシドリ</h2>
  <h4 class="italic center-align">Aix galericulata</h4>
  <%= image_tag 'img13.jpg', class: "bird-img" %>
  <section id="type">
   <table>
    <tr>
      <th><span class="type-item">分類</span></th>
      <td>カモ目カモ科</td>
    </tr>
    <tr>
      <th><span class="type-item">全長</span></th>
      <td>45 cm</td>
    </tr>
     <tr>
      <th><span class="type-item">食べ物</span></th>
      <td>種、虫</td>
    </tr>
   </table>
  </section>
  <section id="explanation">
    <p class="left-align mb-md">カモの中では変わり者。森に囲まれた水辺で暮らす。ドングリが好き。
    <br>オスはカラフルな色をしているが、メスは彩度が低い。夫婦で一緒にいることが多く、オシドリ夫婦の名の由来となっている。</p>
  </section>
  <section id="area">
    <h4 class="font-md">
      <span class="surrounding">分布域</span>
    </h4>
    <%= image_tag 'oshidori_area' %>
  </section>
</div>

